mixin post(title, videoType, source, description, active)
  .post(class='#{active ? "active" : ""}')&attributes(attributes)
    - var key = 'Issue:' + title + ':' + description.substring(0, 25).replace(/ /g, '_')
    a(href='./issue.html?' + key)
      h2.title=title
    .video(class='#{active ? "playing" : ""}')
      .click-capture
      - if (videoType === 'iframe') {
        iframe(
          height="300",
          src!=source + '?enablejsapi=1',
          frameborder="0",
          allowfullscreen
          )
      - } else {
        video(data-src!=source, controls)
      - }
    a(href='./issue.html?' + key)
      p.description
        != description

mixin back-btn()
  i.fa.fa-chevron-left.back-btn.btn.column.one
