mixin post(title, videoType, source, description, active)
  .post(class='#{active ? "active" : ""}')&attributes(attributes)
    - var data = [ title, source, description ].map(encodeURIComponent)
    - var query = '?title=' + data[0] + '&video=' + data[1] + '&description=' + data[2]
    a(href='./issue.html' + query)
      h2.title=title
    .video(class='#{active ? "playing" : ""}')
      .click-capture
      - if (videoType === 'iframe') {
        iframe(
          height="300",
          src!=source + '?enablejsapi=1',
          frameborder="0",
          allowfullscreen
          )
      - } else {
        video(src!=source)
      - }
    a(href='./issue.html' + query)
      p.description
        != description

mixin back-btn()
  i.fa.fa-chevron-left.back-btn.btn.column.one
